body{
    font-family: Arial, sans-serif;
                background: #09c;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
    
            .form-container {
                background: #fff;
                padding: 30px 40px;
                border-radius: 12px;
                width: 350px;
                text-align: center;
            }
    
            h2 {
                margin-bottom: 20px;
               
            }
    
            label {
                display: block;
                text-align: left;
                margin-bottom: 5px;
                font-weight: bold;
            }
    
            input[type="text"],
            input[type="password"],
            input[type="email"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 8px;
                font-size: 14px;
             
            }
    
          
            input[type="submit"] {
                background: #4facfe;
                color: white;
                border: none;
                padding: 12px;
                border-radius: 8px;
                width: 100%;
                font-size: 16px;
                cursor: pointer;
        
            }